body {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
}

hr {
	border-width: 4px;
	color: #2d3c49;
}

.logo {
	height: 100px;
	width: auto;
	padding: 0px;
	float: left;
}

.title {
	font-variant: small-caps;
	text-align: right;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Germania One', cursive;
	position: relative;
}

.main_image_div {
	margin: 0px;
}

.main_image {
	height: auto;
	width : 100%;
	border-width: 2px;
	border-color: #7d97ad;
	border-style: solid;
}

.featured_work {
	color: #7d97ad;
	font-size: 2em;
	margin-top: 10px;
}

.card {
	box-shadow: 5px 5px 5px grey;
	margin-top: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.project_img {
	width : 100%;
	padding: 5px;
}

.project_name{
	font-variant: small-caps;
	font-size: 2em;
	text-align: center;
	color: #2d3c49;
	margin-top: 5px;
}

.project_link {
	font-size: 1.5em;
	text-align: center;
	color: #2d3c49;
}









